<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panaceedental.panaceedental">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utility.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".Activity.SplashLoginScreen"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.HomeActivity"
            android:theme="@style/ActivityTheme"/>

        <activity android:name=".Activity.SignupScreen"
            android:theme="@style/ActivityTheme"/>

        <activity android:name=".Activity.VerifyMobile"
            android:theme="@style/ActivityTheme"/>

        <activity android:name=".Activity.AboutUsActivity"
            android:theme="@style/ActivityTheme"/>

        <activity android:name=".Activity.PrivacyPolicyActivity"
            android:theme="@style/ActivityTheme"/>

        <activity android:name=".OrderForm.OrderFormActivity"
            android:theme="@style/ActivityTheme"/>

    </application>

</manifest>